.info {
    font-size: large;
    position: absolute;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #BBBBBB;
    text-align: center;
    top: 0;
    left: 0;
    opacity: 0.7;
    display: table;
}

#infoBox {
    display: none;
}

#infoBox .text {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 50%;
}

#infoBox .icons {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
}

#infoBox .icons img {
    margin-left: 15px;
}

.buttoon {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.buttoon3 {border-radius: 8px;}